<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kvíz</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="indexPage" th:if="${isSomeoneLogged} == false">

  <h1>Pro zobrazení této stránky se musíte přihlásit.</h1>

</div>

<div class="indexPage" th:if="${isSomeoneLogged} == true">

  <h2>Evropa</h2>

  <p th:each="state: ${states}"><span th:text="${state}"></span></p>

</div>
</body>
</html>