<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kvíz</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="indexPage" th:if="${loggedUser} == null">

  <h1>Pro zobrazení této stránky se musíte přihlásit.</h1>

</div>

<div class="indexPage" th:if="${loggedUser} != null">

  <h2>Evropa</h2>

  <p th:text="'1. ' + ${states.get(0)}"/></span>
  <p th:text="${answers1.get(0)} + ' | ' + ${answers1.get(1)} + ' | ' + ${answers1.get(2)} + ' | ' + ${answers1.get(3)}"/></span>

  <p th:text="'2. ' + ${states.get(1)}"/></span>
  <p th:text="${answers2.get(0)} + ' | ' + ${answers2.get(1)} + ' | ' + ${answers2.get(2)} + ' | ' + ${answers2.get(3)}"/></span>

  <p th:text="'3. ' + ${states.get(2)}"/></span>
  <p th:text="${answers3.get(0)} + ' | ' + ${answers3.get(1)} + ' | ' + ${answers3.get(2)} + ' | ' + ${answers3.get(3)}"/></span>

  <p th:text="'4. ' + ${states.get(3)}"/></span>
  <p th:text="${answers4.get(0)} + ' | ' + ${answers4.get(1)} + ' | ' + ${answers4.get(2)} + ' | ' + ${answers4.get(3)}"/></span>

  <p th:text="'5. ' + ${states.get(4)}"/></span>
  <p th:text="${answers5.get(0)} + ' | ' + ${answers5.get(1)} + ' | ' + ${answers5.get(2)} + ' | ' + ${answers5.get(3)}"/></span>

  <p th:text="'6. ' + ${states.get(5)}"/></span>
  <p th:text="${answers6.get(0)} + ' | ' + ${answers6.get(1)} + ' | ' + ${answers6.get(2)} + ' | ' + ${answers6.get(3)}"/></span>

  <p th:text="'7. ' + ${states.get(6)}"/></span>
  <p th:text="${answers7.get(0)} + ' | ' + ${answers7.get(1)} + ' | ' + ${answers7.get(2)} + ' | ' + ${answers7.get(3)}"/></span>

  <p th:text="'8. ' + ${states.get(7)}"/></span>
  <p th:text="${answers8.get(0)} + ' | ' + ${answers8.get(1)} + ' | ' + ${answers8.get(2)} + ' | ' + ${answers8.get(3)}"/></span>

  <p th:text="'9. ' + ${states.get(8)}"/></span>
  <p th:text="${answers9.get(0)} + ' | ' + ${answers9.get(1)} + ' | ' + ${answers9.get(2)} + ' | ' + ${answers9.get(3)}"/></span>

  <p th:text="'10. ' + ${states.get(9)}"/></span>
  <p th:text="${answers10.get(0)} + ' | ' + ${answers10.get(1)} + ' | ' + ${answers10.get(2)} + ' | ' + ${answers10.get(3)}"/></span>

</div>
</body>
</html>