<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Účet</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="userDetails">
<h1 class="title">Informace o účtu</h1>
<div th:text="'Uživatelské jméno: ' + ${loggedUser.username}"/>
<div th:text="'Email: ' + ${loggedUser.email}"/>
<div th:text="'Úroveň: ' + ${loggedUser.level}"/>
<div th:text="'Zkušenost: ' + ${loggedUser.exp}"/>
<a href="/">Zpět na hlavní stránku</a>
</div>
</body>
</html>